html {
  font-family: "Open Sans", sans-serif;
  background-color: #ccc;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  margin: 1.5rem;
}

* {
  box-sizing: inherit;
}

h2 {
  text-align: center;
}

.hgroup {
  justify-content: space-around;
  font-weight: bold;
}

p {
  align-items: baseline;
}

a {
  background-color: #444;
  padding: .6rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: inline;
}

ul li {
  list-style-type: none;
}

img {
  display: flex;
  width: 5rem;
}
