html {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin: 1.5rem;
}

h2 {
  text-align: center;
}

.hgroup {
  font-weight: bold;
}

p{

}

a {
  background-color: #444;
  padding: .6rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: inline;
}

ul li {
  list-style-type: none;
}

img {
  width: 16rem;
}
